*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 24px;
}
section{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}
nav{
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;  
    background-color: #ccc; 
    height: 200px;
}
nav ul{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    padding: 10px;
    display: block;
}
nav ul li a:hover{
    background-color: #555;
    color: #fff;
}
article{
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;  
    background-color: #9d6262; 
    height: 200px;
    padding-left: 10px;
}
footer{
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}
@media screen and (max-width: 800px){
    nav,article{
        flex-direction: column;
        -webkit-flex-direction: column;
    }
}