*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background: grey;
    color: white;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
nav{
    float: left;
    width: 30%;
    background: lightblue;
   
    font-size: 20px;
    text-align: left;
    height: 300px;
    overflow: auto;

}
nav ul{
    list-style: none;
    padding: 0;
}
li a{
    text-decoration: none;
    color: rgb(12, 0, 0);
    display: block;
    padding: 10px;
}
li a:hover{
    background-color: rgb(138, 48, 48);
    color: white;
}
article{
    float: left;
    width: 70%;
    background: lightgreen;
    padding: 20px;
    height: 300px;
}
section::after{
    content: "";
    display: block;
    clear: both;
}