*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
section{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

}
nav{
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: #333;
    padding: 10px;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    color: white;
    text-decoration: none;
    padding: 10px;
}
nav ul li a:hover{
    background-color: #555;
}

article{
    -webkit-flex:3;
    -ms-flex: 3;
    flex: 3;
    background-color: #5d4c4c;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

footer{
    background-color: #772f2f;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}
@media (max-width:600px){
    section{
        flex-direction: column;
        -webkit-flex-direction: column;
    }
}