body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 400px;
    background-color: antiquewhite;
    box-shadow: inset;
}