*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
    box-shadow: 0 0 10px 10px rgb(0, 0, 0);
    width: 500px;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    border-radius: 7px;
    
}