*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
    box-shadow: 0 0 10px 10px rgb(0, 0, 0);
    width: 500px;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    border-radius: 7px;
    }

input[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
input[type="submit"]:hover{
    background:chartreuse;
    color: black;
}

